<div>
    <nz-steps [nzCurrent]='current'>
        <nz-step nzTitle="{{'invoice.stepOne' | translate}}" (click)="setStep(0)" nzDescription="{{'invoice.stepOneDescription' | translate}}">
        </nz-step>
        <nz-step nzTitle="{{'invoice.stepTwo' | translate}}" (click)="setStep(1)" nzDescription="{{'invoice.stepTwoDescription' | translate}}">
        </nz-step>
        <nz-step nzTitle="{{'invoice.stepThree' | translate}}" (click)="setStep(2)" nzDescription="{{'invoice.stepThreeDescription' | translate}}">
        </nz-step>
    </nz-steps>
</div>

<div class="steps-content">
    <nz-spin nzSimple=false [nzSpinning]="isSpinning" [nzSize]="'large'">
        <ng-template appInvoiceStepHost></ng-template>
    </nz-spin>
</div>
