<nz-card nzHoverable nzSize="small" nzType="inner" (mouseleave)="hideIcon($event)" (mouseenter)="showIcon($event)">
  <nz-card-meta
  [nzTitle]="cardTitle"
  nzDescription="{{description}}"
  [nzAvatar]="cardIcon"
  >
  </nz-card-meta>
</nz-card>

<ng-template #cardIcon>
  <i [@iconChange]="{value: isOpen ? 'open' : 'closed', params: { iconColor: iconColor}}" nz-icon [nzIconfont]="icon"></i>
</ng-template>

<ng-template #cardTitle>
  <h4 class="cartitle" [@iconChange]="{value: isOpen ? 'open' : 'closed', params: { iconColor: iconColor }}">{{title}}</h4>
</ng-template>
