<h3>订单数据</h3>
<div nz-row>
    <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
        <nz-card nzHoverable nzSize="small" nzType="inner">
            <nz-card-meta
            nzTitle="Excel导入"
            nzDescription="This is the description"
            [nzAvatar]="avatarTemplate"
          ></nz-card-meta>
        </nz-card>
    </div>
</div>
<h3>物流数据</h3>
<div nz-row>
    <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
        <nz-card nzHoverable nzSize="small" nzType="inner">
            <nz-card-meta
            nzTitle="富腾达"
            nzDescription="This is the description"
            [nzAvatar]="avatarTemplate"
          ></nz-card-meta>
        </nz-card>
    </div>
</div>
<h3>统计数据</h3>
<div nz-row>
    <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
        <nz-card nzHoverable nzSize="small" nzType="inner">
            <nz-card-meta
            nzTitle="销售分布"
            nzDescription="This is the description"
            [nzAvatar]="avatarTemplate"
          ></nz-card-meta>
        </nz-card>
    </div>
</div>
<ng-template #avatarTemplate>
    <i nz-icon nzType="setting" class="icon"></i>
</ng-template>
