<div nz-row nzGutter="8">
  <div nz-col>
    <p class="h3">公告列表</p>
  </div>
  <div nz-col>
    <button nz-button nzType="primary" (click)="add()"><i nz-icon nzType="plus" ></i>添加公告</button>
  </div>
</div>

<nz-divider></nz-divider>
<nz-table #basicTable [nzData]="news" 
    (nzPageIndexChange)="pageIndexChange($event)" 
    [nzTotal]="total"
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    >

  <tbody>
    <tr *ngFor="let item of basicTable.data">
      <td (click)="show(item)">
        <a >
          <div nz-row nzJustify="space-between" class="ml-2 mr-2" nzAlign="bottom">
            <div nz-col>
                <span [ngSwitch]="item.type">
                  <span *ngSwitchCase="0">
                    【系统公告】
                  </span>
                  <span *ngSwitchCase="1">
                    【活动公告】
                  </span>
                  <span *ngSwitchCase="2">
                    【产品更新】
                  </span>
                </span> {{item.title}}
            </div>
            <div nz-col>
                {{item.updateDate |date}}
            </div>
          </div>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
