<div>
    <nz-space nzSize="large">
        <nz-space-item>
            <label>TradeMe Store:</label>
            <nz-select [(ngModel)]="store" [nzDropdownRender]="addTemplate">
                <nz-option *ngFor="let item of trademeInfos" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            </nz-select>
            <ng-template #addTemplate>
              <nz-divider class="mt-2 mb-2"></nz-divider>
              <div class="pl-2 pr-2 pb-2">
                <app-trademe-add-button class="trademeaddbtn"></app-trademe-add-button>
              </div>
            </ng-template>
        </nz-space-item>
        <nz-space-item>
            <label>Filter:</label>
            <nz-select [(ngModel)]="filter">
                <nz-option *ngFor="let item of filters" [nzValue]="item" [nzLabel]="item"></nz-option>
            </nz-select>
        </nz-space-item>
        <nz-space-item>
            <button nz-button nzType="primary" [nzLoading]="isLongding" (click)="search()"><i nz-icon nzType="search"></i>Search</button>
        </nz-space-item>
    </nz-space>
</div>
<nz-divider></nz-divider>

<nz-empty *ngIf="!orders"></nz-empty>

<nz-tabset *ngIf="orders" 
            [nzSelectedIndex]="tabIndex" 
            (nzSelectedIndexChange)="selectedIndexChange($event)" 
            [nzTabBarExtraContent]="extraTemplate">
    <nz-tab [nzTitle]="mailsentTitle">
      <app-email-sent [orders]="orders.emailSent" (selectItems)="selectSentItem($event)"></app-email-sent>
      <ng-template #mailsentTitle>
          <nz-badge [nzCount]="orders.emailSent? orders.emailSent.length : '0'">
            <span>待支付</span>
          </nz-badge>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="paymentTitle">
      <app-payment-received [(orders)]="paidOrder" [nzconfig]="selectedConfig" (selectItems)="selectShippedItem($event)"></app-payment-received>
      <ng-template #paymentTitle>
        <nz-badge [nzCount]="orders.paymentReceived? orders.paymentReceived.length : '0'">
          <span>已处理</span>
        </nz-badge>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="goodshipedTitle">
        <app-goods-shipped [orders]="orders.goodsShipped"></app-goods-shipped>
        <ng-template #goodshipedTitle>
            <nz-badge [nzCount]="orders.goodsShipped? orders.goodsShipped.length : '0'">
              <span>已发货</span>
            </nz-badge>
        </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="saleCompletedTitle">
        <app-sale-completed [orders]="orders.saleCompleted"></app-sale-completed>
        <ng-template #saleCompletedTitle>
            <nz-badge [nzCount]="orders.saleCompleted? orders.saleCompleted.length : '0'">
              <span>已完成</span>
            </nz-badge>
        </ng-template>
    </nz-tab>
</nz-tabset>

<ng-template #extraPayment>
</ng-template>

<ng-template #extraTemplate>

 <div [ngSwitch]="tabIndex">
    <div *ngSwitchCase="0">
      <button nz-button (click)="confirmPayment()" [nzLoading]="confirmPayLoading">确认支付</button>
    </div>
    <div *ngSwitchCase="1">
      <nz-space nzSize="small">
        <nz-space-item>
          <label>NzPost Config:</label>
          <nz-select [(ngModel)]="selectedConfig">
            <nz-option *ngFor="let item of nzpostConfigs" [nzValue]="item" [nzLabel]="item.name"></nz-option>
          </nz-select>
        </nz-space-item>
        <nz-space-item>
          <button class="btn" nz-button [nzLoading]="shippedLoading" (click)="shipped()">申请快递</button>
        </nz-space-item>
      </nz-space>
    </div>
    <div *ngSwitchCase="2">
      <button nz-button>完成订单</button>
    </div>
 </div>

</ng-template>

<nz-modal [(nzVisible)]="isLoadingLabelStatus" 
   nzClosable="false"
   nzTitle="NzPost申请成功！"
   nzContent="系统正在确认申请结果..., 请不要关闭页面"
  >
</nz-modal>